.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 60px;
}
.white {
  background-color: white;
  padding-top: 80px;
}
.black {
  background-color: black;
}
@media (max-width: 1160px) {
  .container {
    max-width: 1160px
  }
}
